<h3>Comment</h3>

<form method="post" action="/messages/<%= message["id"] %>/comments">

  <textarea class="commentbox" type="text" col="40" row="5" id="comment" name="comment"></textarea><br>
  <button>Submit Comment</button>

</form>