<h3>Edit Message</h3>



<form action="/messages/edit/:message" method="POST" >
  <input type="hidden" name="_method" value="PUT" />
  <input type="submit" value="Update" />

    <label for="message">Message:</label>
    <textarea type="text" col="40" row="5" id="message" name="message" placeholder="<%= message %>"></textarea><br>

</form>