<html>
<head>
  <title>Message</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
  <body>
    <h1><span class="rainbow">Message Roullete</span></h1>
    <% if flash[:error] %>
      <%= flash[:error] %><br>
    <% end %>
    <%= yield %>
  </body>
</html>